.opener {
    height: 100vh;
    background-image: url('../public/images/exterior-redbudbooks-bw.png');
    background-position: center;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    .card {
        position: relative;
        text-align: center;
        padding: 50px;
        background-color: rgb(223, 98, 56);
        display: flex;
    }

    .logo {
        width: 40%;
        height: auto;
        position: relative;
    }
}

.intro {
    margin: 50px;
}

