.header, .footer {
    font-family: 'Alegreya', serif;
    font-size: 18px;

    a {
        text-decoration: none;
        color: white !important;

        &:hover {
            text-decoration: underline;
        }
    }
}

.header {
    background-color: rgb(43, 109, 109);
    color: rgb(255, 154, 156);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;

    ul {
        display: flex;
        height: 100%;
        align-items: center;

        a {
            padding: 2vw;
        }
    }
    
}

.footer {
    background-color: rgb(43, 109, 109);
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    padding: 5vw; 

    .newsletter {
        width: 100%;
        display: none; // temporary until I get the function working
    }

    .address {
        color: rgb(221, 233, 206);
    }

    li {
        a {
            padding: 5px;
            display: block;
        }
    }
}